<br /><div class="textbackground">
  <br />


  <h1>PR & Marketing Projects</h1>

<br /> 

<div class="error">This page is currently unavailable, please check back again later.</div>



<!-- <p>blah blaah blah disclaimer</p>


SUMMARY OF RESEARCH EXPERIENCE 

<br />

ICONS WITH PIC OF EACH TYPE OF EXPERENCE LINKING TO PAPERS -->

<!--   <div class="cell">
    <h5 class="cap">2-Sided Marketplace</h5>
    <img src="assets/IMC-58682dfa4be6978c03694e1ea2cec552c2acd4084a8843836c42bb198c90a569.png" alt="Two-Sided Market Place" class="full" >
  </div> -->

<!-- <center class="cen">

  <div class="project">
    <h4><%= link_to 'Public Relations Info Kit', "https://drive.google.com/open?id=1y4ZFytta7FqInj1l0QncDaPDScRhrlz9", target: :_blank, class: 'nav-link' %>
    </h4>
    <%= image_tag 'IMC.png', class: 'image'%>
    <p>
      A database-powered quote generator with a mobile-first
      design, using the Ruby on Rails framework, HTML, and CSS.
      Uses Git and GitHub for version control, and launched
      on Heroku.
    </p>
  </div>

  
  <div class="project">
      <h4><%= link_to 'Integrated Marketing Communications Plan', "https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag '', class: 'image'%>
      <p>
        A database-powered quote generator with a mobile-first
        design, using the Ruby on Rails framework, HTML, and CSS.
        Uses Git and GitHub for version control, and launched
        on Heroku.
      </p>
    </div>

  <div class="project">
      <h4><%= link_to 'International Marketing Communications Plan', "https://drive.google.com/open?id=14tnDiT6epjIiY6XmkCBRpUx81HCdIX_x", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag '', class: 'image'%>
      <p>
        A database-powered quote generator with a mobile-first
        design, using the Ruby on Rails framework, HTML, and CSS.
        Uses Git and GitHub for version control, and launched
        on Heroku.
      </p>
    </div>

  <div class="project">
      <h4><%= link_to 'Strategic PR Planning', "https://drive.google.com/open?id=1Dupx8dc-TDWoArE6XG766DbSQkGyNT0-", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag '', class: 'image'%>
      <p>
        A database-powered quote generator with a mobile-first
        design, using the Ruby on Rails framework, HTML, and CSS.
        Uses Git and GitHub for version control, and launched
        on Heroku.
      </p>
    </div>

</center>
 -->

 <div class="disclaimer">
    <font size="1">** All projects were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>

<br class="clear" />
</div>