<br /><div class="textbackground">

<div class="nav-cont">
  <div class="row">
    <a class="nav-col col" href="#IMC">
         Integrated MarComm
    </a>
    <a class="nav-col col" href="#int">
        International MarComm
    </a>
    <a class="nav-col col" href="#strategic">
        Strategic PR Planning
    </a>
    <a class="nav-col col" href="#infokit">
        PR Writing Samples
    </a>
  </div>
</div>
<hr /><br />

  <h1>PR & Marketing Projects</h1>

<br /> 

<!-- <div class="error">This page is currently unavailable, please check back again later.</div> -->


<div class="marcomm-cont">
  <div class=project-title id="IMC">
    Integrated Marketing Communications Plan
  </div>
  <div class="project-cont">
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM" target="blank">
        <%= image_tag 'IMC.png', class: 'cover-image' %>
      </a>
    </div>
    <div class="description-cont">
      IMC Plan for repositioning FIAT's marketing communications using traditional and social media: Situational Analysis, SWOT Analysis, Consumer Research, Inventory and MarComm Evaluation, Campaign Design & Execution.
      <br /><br /><b>Research Methods Used:</b> Content-Analysis, Observational Study, Field Interview & Surveys, and Qualitative Research.
    </div>
  </div>
</div>

<hr />

<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="infokit">
    PR Info Kit (Writing Samples)
  </div>
  <div class="project-cont">
    <div class="description-contt">
      <ul class="pr-list">
        <li>Fact Sheet: <a href="https://drive.google.com/open?id=108Pkh274QdRnNL_3IIZqu9zE4p7LT8fV">The Rotary Club</a></li>
        <li>News Release: <a href="https://drive.google.com/open?id=1sORNE2INVoISsov6RoknEcR_U2rbfSp-">The Rotary Club</a></li>
        <li>Biography: <a href="https://drive.google.com/open?id=1mOCx8dagoQrBjWlG8RPIJCGzNBB_1Qb1">Founder of The Rotary Club</a></li>
        <li>Op-Ed: <a href="https://drive.google.com/open?id=1-rmU8zUjNeBrjD0IegXEdXQmhnxHiqk-">Why Service Organizations are Important in the 21st Century</a></li>
        <li>Fact Sheet: <a href="https://drive.google.com/open?id=1AeFhcrXQE9QSy4pBGRi0hdQXW7ht4jrJ">Epitaph Records</a></li>
        <li>FAQ sheet: <a href="https://drive.google.com/open?id=1bbeIKU1onP20DhACrS22gg1IqJkY-VzJ">Epitaph Records & Weezer's <i>Pacific Daydream</i></a></li>
        <li>Op-Ed: <a href="https://drive.google.com/open?id=16Q0-DP-yEhcAP2cGBoQQ_pfnZIYatIQd">Why the Critics are Wrong About Weezer's <i>Pacific Daydream</i></a></li>
        <li>Listicle: <a href="https://drive.google.com/open?id=1SyzwKONuwIYKf9a5Plor189diCijxSvm">The most and Least Popular Songs on Weezer's <i>Pacific Daydream</i></a></li>
      </ul>
    </div>
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1y4ZFytta7FqInj1l0QncDaPDScRhrlz9" target="blank">
        <%= image_tag 'infokit.png', class: 'cover-image' %>
      </a>
    </div>
  </div>
</div>

<hr />

<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="int">
    International Marketing Communications Plan
  </div>
  <div class="project-cont">
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1X6Zy9r7kSG60y3le6HlqkaGwk6IVxAcM" target="blank">
        <%= image_tag 'internationalmarcomm.png', class: 'cover-image' %>
      </a>
    </div>
    <div class="description-cont">
      Plan for exporting Chipotle Mexican Grill to Taiwan: Qualitative Research, Country & Market Analysis, Market Entry Communication Mix. <br /><br />
      <%= link_to 'View Full Report', "https://drive.google.com/file/d/14tnDiT6epjIiY6XmkCBRpUx81HCdIX_x/view?usp=sharing", target: :_blank%>
    </div>
  </div>
</div>

<hr />

<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="strategic">
    Strategic PR Campaign Execution Plan
  </div>
  <div class="project-cont">
    <div class="pr-description-cont">
     Diversity and Inclusion Expansion Campaign Launch for NBCUniversal: Qualitative & Market Research, Statement of Problem and Opportunity, SWOT Analysis, Implications, Communiation Goals & Objectives, Key Message, Strategies & Tactics, Timeline, Budget, and Evaluation. 
    </div>
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1Dupx8dc-TDWoArE6XG766DbSQkGyNT0-" target="blank">
        <%= image_tag 'campaign1.png', class: 'cover-image' %>
      </a>
    </div>
  </div>
</div>

<hr />

<div class="st">
   <h3>Skills & Tools:</h3>
    <div class="skills-b">
      <%= image_tag 'adobe-creative-cloud.png', class: 'skills-img' %>
    </div>
   <div class="st-content">
   <div class="skills-box">
    <%= image_tag 'adobeai.png', class: 'skills-img' %>
    </div>
    <div class="skills-box">
      <%= image_tag 'adobeid.png', class: 'skills-img' %>
    </div>
  </div>
</div>


<center><a class="top" href="#">Back To Top</a></center>



<!--   <div class="cell">
    <h5 class="cap">2-Sided Marketplace</h5>
    <img src="assets/IMC-58682dfa4be6978c03694e1ea2cec552c2acd4084a8843836c42bb198c90a569.png" alt="Two-Sided Market Place" class="full" >
  </div> -->



 <div class="disclaimer">
    <font size="1">** All projects are hypothetical and were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>

<br class="clear" />
</div>