<br /><div class="textbackground">
  <div class="nav-cont">
  <div class="row">
    <a class="nav-col col" href="#exp">
      Experiment
    </a>
    <a class="nav-col col" href="#case">
      Case Study
    </a>
    <a class="nav-col col" href="#survey">
      Survey
    </a>
    <a class="nav-col col" href="#ca">
      Content Analysis
    </a>
    <a class="nav-col col" href="#lr">
      Literature Review
    </a>
  </div>
</div>
<hr /><br />

<h1>Communication Research</h1>

<br /> 

<div class="marcomm-cont">
  <div class=project-title id="exp">
    Experimental Research
  </div>
  <div class="project-cont">
    <div class="covercont">
        <%= image_tag 'expirement.png', class: 'cover-image' %>
    </div>
    <div class="description-cont">
      Investigating comic book covers with or without title text and its impact on consumers’ interests. 
      <br /><br />
      Participants were recruited using Amazon Mechnical Turk, and online surveys created via Qualtrics were used to conduct this experiment. Surveys featured 7-point Likert Scales, yes no, multiple choice, and open ended questions.
      <br /> <br />
      <%= link_to "View Report" ,'https://drive.google.com/open?id=1Gytc9H7WFZFAmvkhaz7r2tIc0lTWBiwE', target: :blank %>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="case">
    Organizational Change Case Study
  </div>
  <div class="project-cont">
    <div class="description-cont">
      Examining and addressing the organizational dynamics of a software development and management company. 
      <br /><br />
      The case study took the course of three months and incorporated qualitative research and interviews. The company was analyzed through 6 organizational change models and a combination of techniques were recommended as solutions for the future sustainability of the company.
      <br /> <br />
      <%= link_to "View Presentation" ,'https://drive.google.com/open?id=1X6Zy9r7kSG60y3le6HlqkaGwk6IVxAcM', target: :blank %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "View Case Study" ,'https://drive.google.com/open?id=1cuM7q9FDReMxg3MJ11gOdFJ4j2IbcZxf', target: :blank %>
    </div>
    <div class="covercont">
        <%= image_tag 'casestudy.png', class: 'cover-image' %>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="survey">
    Survey
  </div>
  <div class="project-cont">
    <div class="covercont">
      <%= image_tag 'survey.png', class: 'cover-image' %>
    </div>
    <div class="description-cont">
      Looking into reasons behind why people use ridesharing services. 
      <br /><br />
      Participants were recruited using Amazon Mechnical Turk, and online surveys created via Qualtrics were used to conduct this experiment. Surveys featureed 7-point Likert Scales and  multiple choice questions.
      <br /> <br />
      <%= link_to "View Report" ,'https://drive.google.com/open?id=1_6WYQTzEy4RUtLXIea-9ytj4RsILGp6q', target: :blank %>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="ca">
    Content Analysis
  </div>
  <div class="project-cont">
    <div class="description-cont">
      Taking a deep dive into online reviews to understand consumer satisfaction towards the attributes of the iPhone 5. 
      <br /> <br /> 
      The online reviews sample was pulled from CNET and sorted by newest reviews. A total of four variables were examined using various point scales. A codebook was created to ensure consistency in the operationalization of variables and coding procedures. 
      <br /> <br />
      <%= link_to "View Report" ,'https://drive.google.com/open?id=1Lwry5nJPhKefJvgXiMrcZPAlKU_5k8QD', target: :blank %>
    </div>
    <div class="covercont">
      <%= image_tag 'ca.png', class: 'cover-image' %>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="lr">
    Literature Review
  </div>
  <div class="project-cont">
    <div class="covercont">
      <%= image_tag 'SCT.png', class: 'cover-image' %>
    </div>
    <div class="description-cont">
      Exploring Social Cognitive Theory's applicability towards organizational management. Seeks to understand the influences of self-efficacy on cognitive, behavioral, and environmental factors, and their relationship with organizational dynamics. 
      <br /> <br />
      <%= link_to "View Presentation" ,'https://drive.google.com/open?id=11TlaZ4jVJ-ixhtWxxfjcLS96ToT36ULl', target: :blank %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "View Review" ,'https://drive.google.com/open?id=16b43ZNUGFdck9wY7reT0OijNDXS1yCZb', target: :blank %>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="sts">
  <br />
   <h3>Skills & Tools:</h3>
  <div class="programs">
    <div class="prog-col">
      <div class="content">
        <img src="/assets/qualtrics-efbdc2ba75d6be3a9dbbc0feef16055ad939bb95316749ee89c34d68c8cc8c57.png" alt="Qualtrics" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/spss-0075afc0b1f96c33f7b78e08c238966f838f620a8524b8b513837b659bd0e0e5.png" alt="SPSS" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/aws-e43d9c5260ccbab6645651e5918b3912fcc535a753b7179d6209968e2343c5e9.png" alt="AWS" class="pr-img">
      </div>
    </div>

  </div>

  <br class="clear" /><br /><br />

  <center><a class="top" href="#">Back To Top</a></center>

 <div class="disclaimer">
    <font size="1">** All projects are hypothetical and were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>
</div>
  
<br class="clear" />
</div>