<br /><div class="textbackground">
  <div class="nav-cont">
  <div class="row">
    <a class="nav-col col" href="#exp">
      Experiment
    </a>
    <a class="nav-col col" href="#case">
      Case Study
    </a>
    <a class="nav-col col" href="#survey">
      Survey
    </a>
    <a class="nav-col col" href="#ca">
      Content Analysis
    </a>
    <a class="nav-col col" href="#lr">
      Literature Review
    </a>
  </div>
</div>
<hr /><br />

<h1>Communication Research</h1>

<br /> 

<div class="marcomm-cont">
  <div class=project-title id="exp">
    Experimental Research
  </div>
  <div class="project-cont">
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM" target="blank">
        <%= image_tag 'expirement.png', class: 'cover-image' %>
      </a>
    </div>
    <div class="description-cont">
     text
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="case">
    Case Study
  </div>
  <div class="project-cont">
    <div class="description-cont">
      TExt
    </div>
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1y4ZFytta7FqInj1l0QncDaPDScRhrlz9" target="blank">
        <%= image_tag 'casestudy.png', class: 'cover-image' %>
      </a>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="survey">
    Survey
  </div>
  <div class="project-cont">
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1X6Zy9r7kSG60y3le6HlqkaGwk6IVxAcM" target="blank">
        <%= image_tag 'survey.png', class: 'cover-image' %>
      </a>
    </div>
    <div class="description-cont">
     Text
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="ca">
    Content Analysis
  </div>
  <div class="project-cont">
    <div class="pr-description-cont">
     Text
    </div>
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1Dupx8dc-TDWoArE6XG766DbSQkGyNT0-" target="blank">
        <%= image_tag 'ca.png', class: 'cover-image' %>
      </a>
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="marcomm-cont">
  <div class=project-title id="lr">
    Literature Review
  </div>
  <div class="project-cont">
    <div class="cover-cont">
      <a href="https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM" target="blank">
        <%= image_tag 'IMC.png', class: 'cover-image' %>
      </a>
    </div>
    <div class="description-cont">
     Text
    </div>
  </div>
</div>

<hr />
<br class="clear" />

<div class="sts">
  <br />
   <h3>Skills & Tools:</h3>

  <div class="programs">
    <div class="prog-col">
      <div class="content">
        <img src="/assets/qualtrics-efbdc2ba75d6be3a9dbbc0feef16055ad939bb95316749ee89c34d68c8cc8c57.png" alt="Qualtrics" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/spss-0075afc0b1f96c33f7b78e08c238966f838f620a8524b8b513837b659bd0e0e5.png" alt="SPSS" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/aws-e43d9c5260ccbab6645651e5918b3912fcc535a753b7179d6209968e2343c5e9.png" alt="AWS" class="pr-img">
      </div>
    </div>

  </div>

  <br class="clear" /><br /><br />

  <center><a class="top" href="#">Back To Top</a></center>

 <div class="disclaimer">
    <font size="1">** All projects are hypothetical and were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>
</div>
  
<br class="clear" />
</div>