<br /><div class="hometextbackground">
  <br /><br />
  <h1 class="name">ROBYN WANG</h1>
  <br />
  <h2>Web Developer & Communication Specialist</h2>
    <p class="bio"> 
      The intersection where PR & Marketing meets Web Development 
    </p>
    <br />
 
  <div class="scroll-container">
    <div class="flex-container"> 
      <div class="scrolling">
        <div class="iconcell">
          <i class="fas fa-laptop-code fa-5x"></i>
          <h5 class="title">Full-Stack Web Development </h5>
          <div class="caption">
          VERSED IN: &nbsp;&nbsp;&nbsp; HTML, CSS, Ruby, JavaScript, JQuery, ReactJS, PostgreSQL, Ruby on Rails, Git/ GitHub, Heroku, Amazon Web Services, Bootstrap</div>
        </div>
        <div class="iconcell">
          <i class="fas fa-bullhorn fa-5x"></i>
          <i class="fas fa-ad fa-5x"></i>
          <h5 class="title">PR & Marketing</h5>
          <div class="caption">Integrated Marketing Communications, International Marketing Communications, Market & Consumer Research, Campaign Executions, Strategic PR Planning, PR Copywriting, Adobe Cloud Programs</div>
        </div>
        <div class="iconcell">
          <i class="fas fa-chart-line fa-5x"></i>
          <h5 class="title">Communication Research</h5>
          <div class="caption">DESIGN & METHODS: &nbsp;&nbsp;&nbsp; Observational, Experiemental, Surveys, Interviews, Focus Groups, Case Studies, Content Analysis, Literature Review
          <br />
          PROGRAMS: &nbsp;&nbsp;&nbsp; Qualtrics Research Software, SPSS, Amazon Mechanical Turk
          </div>
        </div>
        <div class="iconcell">
          <i class="fas fa-tasks fa-5x"></i>
          <h5 class="title">Organizational Management</h5>
          <div class="caption">FACILITATING CHANGE: &nbsp;&nbsp;&nbsp; Organizational Behavior, Communication, Relationships, Structure, and Dynamics
          <br /> 
          Administrative Support
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <center> 
    <a href="#webapps">
      <h5>View Portfolio</h5> 
      <i class="fa fa-angle-down"></i>
    </a>
  </center>
  <br /><br />
  <br class="clear" />

<hr/>
    <div class="appscont" id="webapps">
    <br /><br />
      <h3>Web Apps</h3>
      <hr class="underline">
      <div class="apps-box">
        <h5>Yelp Clone</h5>
        <div class="app-box">
        <%= image_tag 'nomster.png', class: 'apps-full-width'%>
        <div class="apps-overlay">
          <div class="app-text">
          A Yelp clone that integrates with the Google Maps API
          and includes features like user comments, star ratings, image uploading, and user authentication.
          <br /><br />
            <font size="3"><b>
            <%= link_to '~View App~', "https://nomster-robyn-wang.herokuapp.com", target: :_blank %>
            </b></font>
          </div>
        </div>
        </div>
      </div>
      <div class="apps-box">
        <h5>Two-Sided Marketplace</h5>
      <div class="app-box">
        <%= image_tag 'flixter.png', class: 'apps-full-width'%>
        <div class="apps-overlay">
          <div class="app-text">
          A two-sided, video-streaming marketplace platform that
          features credit card payment capabilities, user role
          management, complex user interfaces, and advanced
          database relationships. <br /><br />
            <font size="3"><b>
            <%= link_to '~View App~', "https://flixter-robyn-wang.herokuapp.com", target: :_blank %> 
            </b></font>
          </div>
        </div>
        </div>
      </div>
      <br class="clear" />
      <div class="apps-box">
        <h5>SpotifyApp</h5>
        <div class="app-box">
          <%= image_tag 'homepage.png', class: 'apps-full-width'%>
        <div class="apps-overlay">
          <div class="app-text">
          A music search platfrom allowing users to search and view an artist's top 10 songs, and log in to view their existing playlists using Spotify's API. <br /><br />
            <font size="3"><b>
              <%= link_to '~View App~', "http://project-robyn-wang.herokuapp.com", target: :_blank  %>
            </b></font>
          </div>
        </div>
        </div>
      </div>
      <div class="apps-box">
        <h5>Note App</h5>
        <div class="app-box">
        <%= image_tag 'NoteApp.png', class: 'apps-full-width'%>
        <div class="apps-overlay">
          <div class="app-text">
          Dynamic note taking app that uses Facebook's ReactJS, JavaScript/ES6, and Axios to let users to create, edit, delete, and tag notes. <br /><br />
            <font size="3"><b>
              <%= link_to '~View App~', "https://note-app-robyn-wang.herokuapp.com/", target: :_blank %> 
            </b></font>
          </div>
        </div>
        </div>
      </div>
    <br class="clear" /><br />


      
    <a href="/overview">
      <h5>See More</h5>
    </a>
      
    <br /><br class="clear" />
 </div>

 <hr/>
 <br /><br />
 <h3>Skills &amp; Tools</h3>
 <hr class="underline">

 <div class="icons">
    <div class="icon-cont">
      <%= image_tag 'html.png', class: 'icon' %>
    </div>
    <div class="icon-cont">
      <%= image_tag 'css.png', class: 'icon' %>
    </div>
    <div class="icon-cont">
      <%= image_tag 'ruby.png', class: 'icon' %>
    </div>
    <div class="icon-cont">
      <%= image_tag 'Rails.png', class: 'icon' %>
    </div>
    <div class="icon-cont">
      <%= image_tag 'js.png', class: 'icon' %>
    </div>
    <div class="icon-cont">
      <%= image_tag 'algorithms.png', class: 'icon' %>
    </div>
  </div>
  <div class="icons">
    <div class="icon">HTML</div>
    <div class="icon">CSS</div>
    <div class="icon">Ruby</div>
    <div class="icon">Ruby on Rails</div>
    <div class="icon">JavaScript</div>
    <div class="icon">Algorithms</div>
  </div>


  <div class="sts">
    <div class="programs">
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Git.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Heroku_logo.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Bootstrap-Logo.png', class: 'pr-img' %>
        </div>
      </div>
    </div>
  </div>

  <div class="sts">
    <div class="programs">
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Slack_.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'trello-logo-blue.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'react .png', class: 'pr-img' %>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br class="clear" />
 
 <hr/>
  
  <br /><br />
  <h3 class="comm" id="comm_overview">PR & Marketing</h3>
  <hr class="underline">

  <div class="prcont">
    <div class="prbox">
      <div class="pr-content">
        <a href="https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM" target="_blank">
        <img src="assets/IMC-b44954770b66cf7bca639a3f36f03eb5f8dda36e491c5e91bb5ed011bf123041.png" alt="IMC" class="pr-img"></a>
      </div>
    </div>  
    <div class="prbox">
      <div class="pr-content">
        <a href="https://drive.google.com/open?id=1X6Zy9r7kSG60y3le6HlqkaGwk6IVxAcM" target="_blank">
        <img src="assets/internationalmarcomm-96c92305413387ed9c5c1ead56bb3aafd11d434050000edbdd325c4268dac86b.png" alt="InternationalMC" class="pr-img"></a>
      </div>
    </div>
    <div class="prbox">
      <div class="pr-content">
        <a href="https://drive.google.com/open?id=1Dupx8dc-TDWoArE6XG766DbSQkGyNT0-" target="_blank">
        <img src="assets/campaign1-cd3038b6042e55c98d24a1aa55ea788fe132cef88028f9c313eb91bbb100822e.png" alt="PR Campaign Construction" class="pr-img"></a>
      </div>
    </div>  
    <div class="prbox">
      <div class="pr-content">
        <a href="https://drive.google.com/file/d/18XH0KZ0zCYzNUIzhtSxw_0MGToeGGVlI/view?usp=sharing" target="_blank">
        <img src="assets/campaign2-c1e6ed1f04116e517f7c0c345098fce9267cc818d0dbb18c9144c48e45ba1d99.png" alt="PR Campaign Deconstruction" class="pr-img"></a>
      </div>
    </div>
    <div class="prbox">
      <div class="pr-content">
        <a href="https://drive.google.com/open?id=1y4ZFytta7FqInj1l0QncDaPDScRhrlz9" target="_blank">
        <img src="/assets/presskit-380af7d90621d90810f9db55c579653c0cb57169b78b8c734238267eb9e65c9c.png" alt="info kit" class="pr-img"></a>
      </div>
    </div>
    <div class="prbox">
      <div class="content">
        <a href="/marcomm">
          <h5><div class="learn-more">Learn More</div></h5>
        </a>
      </div>
    </div>
  </div>

  <br class="clear" /><br /> <br /><br />

  
  <hr/>

  <br /><br />
  <h3>Communication Research</h3>
  <hr class="underline">

  <div class="commrow">
    <div class="commcol">
      <div class="comm-content">
        <div class="comm-head">Experiement</div>

          <img src="/assets/expirement-a669d82088ed265a036603de8d3a1f1acaa1311052bd1223dceea398859dbdca.png" alt="Experiment" class="comm-img">

      </div>
    </div>
    <div class="commcol">
      <div class="comm-content">
        <div class="comm-head">Case Study</div>
      
          <img src="/assets/casestudy-64048de06e55df5ed1e7e5e5b956c7754c32c4169c3a52d5c6b39727dd92266d.png" alt="Case Study" class="comm-img">
 
      </div>
    </div>
    <div class="commcol">
      <div class="comm-content">
        <div class="comm-head">Survey</div>
  
          <img src="/assets/survey-df58440f7ece6a5014510cf58c2a0e078c9d885e2177467c0962f2154983e7d9.png" alt="Survey" class="comm-img">
      

      </div>
    </div>
    <div class="commcol">
      <div class="comm-content">
        <div class="comm-head">Content Analysis</div>
  
          <img src="/assets/ca-b32ef1d9d9076668f9e2892499aa856a03ba71fa21afc58d07c60f248c51533e.png" alt="content analysis" class="comm-img">
      
 
      </div>
    </div>
  </div>

 <br class="clear" />

  <div class="programs">
    <div class="prog-col">
      <div class="content">
        <img src="/assets/qualtrics-efbdc2ba75d6be3a9dbbc0feef16055ad939bb95316749ee89c34d68c8cc8c57.png" alt="Qualtrics" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/spss-0075afc0b1f96c33f7b78e08c238966f838f620a8524b8b513837b659bd0e0e5.png" alt="SPSS" class="pr-img">
      </div>
    </div>
    <div class="prog-col">
      <div class="content">
        <img src="/assets/mturk1-30e253ec216bca7c1006e5b62131824c24b539f3717143d36de7d289e31647b5.png" alt="AMT" class="pr-img">
      </div>
    </div>
  </div>

<br class="clear" /><br />
  <a href="/research">
    <h5>Learn More</h5>
  </a>
<br /><br />
  <center><a class="top" href="#">Back To Top</a></center>
  <div class="disclaimer">
    <font size="1">** All projects are hypothetical and were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>

 <br class="clear" />
</div>


