<br /><div class="hometextbackground">
  <br /><br />
  <h1> </h1>
  <h1>Web Developer & Communication Specialist</h1>
    <p class="bio"> 
      The intersection where PR & Marketing meets Web Development 
    </p>
    <br />

  <div class="scroll-container">
    <div class="flex-container"> 
      <div class="scrolling">

        <div class="iconcell">
          <i class="fas fa-laptop-code fa-5x"></i>
          <br /><br />  
          <h5 class="title">Full-Stack Web Development </h5>
          <div class="caption">
          VERSED IN: &nbsp;&nbsp;&nbsp; HTML, CSS, Ruby, JavaScript, JQuery, ReactJS, PostgreSQL, Ruby on Rails, Git/ GitHub, Heroku</div>
        </div>
        
        <div class="iconcell">
          <i class="fas fa-bullhorn fa-5x"></i>
          <i class="fas fa-ad fa-5x"></i>
          <br /><br />
          <h5 class="title">PR & Marketing</h5>
          <div class="caption">Integrated Marketing Communications, International Marketing Communications, Market & Consumer Research, Campaign Executions, Strategic PR Planning, PR Copywriting, Adobe Cloud Programs</div>
        </div>

        <div class="iconcell">
          <i class="fas fa-chart-line fa-5x"></i>
          <br /><br />
          <h5 class="title">Communication Research</h5>
          <div class="caption">DESIGN & METHODS: &nbsp;&nbsp;&nbsp; Observational, Experiemental, Surveys, Interviews, Focus Groups, Case Studies, Content Analysis, Literature Review
          <br />
          PROGRAMS: &nbsp;&nbsp;&nbsp; Qualtrics Research Software, SPSS, Amazon Web Services
          </div>
        </div>

        <div class="iconcell">
          <i class="fas fa-tasks fa-5x"></i>
          <br /><br />
          <h5 class="title">Organizational Management</h5>
          <div class="caption">FACILITATING CHANGE: &nbsp;&nbsp;&nbsp; Organizational Behavior, Communication, Relationships, Structure, and Dynamics
          <br /> 
          Administrative Support
          </div>
        </div>

      </div>
    </div>
  </div>
  <br /><br />

  <center> 
    <a class="viewportfolio" href="#webapps">
      View Portfolio 
      <br />
      <i class="fa fa-angle-down"></i>
    </a>
  </center>
  <br /><br />
  <br class="clear" />


  <div class="apps-cont" id="webapps">
    <hr/><br />
      <h3>Web Apps</h3>
      <hr class="underline">
      <div class="appbox">
        <h5>Yelp Clone</h5>
        <div class="indexbox">
        <%= image_tag 'nomster.png', class: 'appsfull-width'%>
        <div class="appsoverlay">
          <div class="text">
          A Yelp clone that integrates with the Google Maps API
          and includes features like user comments, star ratings,
          image uploading, and user authentication. <br /><br />
            <font size="2">
            <%= link_to '~View App~', "https://nomster-robyn-wang.herokuapp.com", target: :_blank %>
            </font>
          </div>
        </div>
        </div>
      </div>

      <div class="appbox">
        <h5>Two-Sided Marketplace</h5>
      <div class="indexbox">
        <%= image_tag 'flixter.png', class: 'appsfull-width'%>
        <div class="appsoverlay">
          <div class="text">
          A two-sided, video-streaming marketplace platform that
          features credit card payment capabilities, user role
          management, complex user interfaces, and advanced
          database relationships. <br /><br />
            <font size="2">
            <%= link_to '~View App~', "https://flixter-robyn-wang.herokuapp.com", target: :_blank %> 
            </font>
          </div>
        </div>
        </div>
      </div>

      <br class="clear" />

      <div class="appbox">
        <h5>SpotifyApp</h5>
        <div class="indexbox">
          <%= image_tag 'homepage.png', class: 'appsfull-width'%>
        <div class="appsoverlay">
          <div class="text">
          A music search platfrom allowing users to search and view an artist's top 10 songs, and log in to view their existing playlists using Spotify's API. <br /><br />
            <font size="2">
              <%= link_to '~View App~', "http://project-robyn-wang.herokuapp.com", target: :_blank  %>
            </font>
          </div>
        </div>
        </div>
      </div>

      <div class="appbox">
        <h5>Note App</h5>
        <div class="indexbox">
        <%= image_tag 'NoteApp.png', class: 'appsfull-width'%>
        <div class="appsoverlay">
          <div class="text">
          Dynamic note taking app that uses Facebook's ReactJS, JavaScript/ES6, and Axios to let users to create, edit, delete, and tag notes. <br /><br />
            <font size="2">
              <%= link_to '~View App~', "https://note-app-robyn-wang.herokuapp.com/", target: :_blank %> 
            </font>
          </div>
        </div>
        </div>
      </div>
    <br class="clear" /><br />
      
    <center><a class="btn btn-outline-success btn-lg" href="/overview">+ See More</a></center>
      
    <br /><br class="clear" />
    <hr/>
  </div>

<!--   <div class="error">Site Under Construction</div> -->
  
  <br /><br />
  <h3>PR & Marketing</h3>
  <hr class="underline">

  <div class="prcont">
    
    <div class="prbox">
      <div class="content">
        <a href="https://drive.google.com/open?id=1ZJylDN-X87-IUMNvOlFO-c9VWdSMGBCM" target="_blank">
        <img src="assets/IMC-b44954770b66cf7bca639a3f36f03eb5f8dda36e491c5e91bb5ed011bf123041.png" alt="IMC" class="pr-img"></a>
      </div>
    </div>
    
    <div class="prbox">
      <div class="content">
        <a href="https://drive.google.com/open?id=1X6Zy9r7kSG60y3le6HlqkaGwk6IVxAcM" target="_blank">
        <img src="assets/internationalmarcomm-96c92305413387ed9c5c1ead56bb3aafd11d434050000edbdd325c4268dac86b.png" alt="InternationalMC" class="pr-img"></a>
      </div>
    </div>

    <div class="prbox">
      <div class="content">
        <a href="https://drive.google.com/open?id=1Dupx8dc-TDWoArE6XG766DbSQkGyNT0-" target="_blank">
        <img src="assets/campaign1-cd3038b6042e55c98d24a1aa55ea788fe132cef88028f9c313eb91bbb100822e.png" alt="PR Campaign Construction" class="pr-img"></a>
      </div>
    </div>
    
    <div class="prbox">
      <div class="content">
        <a href="https://drive.google.com/file/d/18XH0KZ0zCYzNUIzhtSxw_0MGToeGGVlI/view?usp=sharing" target="_blank">
        <img src="assets/campaign2-c1e6ed1f04116e517f7c0c345098fce9267cc818d0dbb18c9144c48e45ba1d99.png" alt="PR Campaign Deconstruction" class="pr-img"></a>
      </div>
    </div>

    <div class="prbox">
      <div class="content">
        <a href="https://drive.google.com/open?id=1y4ZFytta7FqInj1l0QncDaPDScRhrlz9" target="_blank">
        <img src="assets/infokit-017f1ed37da88cfc17e69105f27ef8d6a9849bcda5d30ebb74d4a4f5138c8010.png" alt="info kit" class="pr-img"></a>
      </div>
    </div>

     <div class="prbox">
      <div class="content">
        <a href="/marcomm">
          <h5><div class="learn-more"><u>Learn More</u></div></h5>
        </a>
      </div>
    </div>

  </div>
  <br class="clear" />

  <div class="disclaimer">
    <font size="1">** All projects were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and its contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>
  <hr/>

  <br /><br />
  <h3>Communication Research</h3>
  <hr class="underline">

  <div class="commrow">

  <div class="commcol">
    <div class="content">
      <div class="comm-head">Experiemental</div>
      <div class="comm-image">
        <img src="assets/expiremental-1067d7832c5023df3cfd674b6ccbb4944f8ac42a9ad865c268cca851c4792356.jpg" alt="Expirement" class="pr-img">
      </div>
    </div>
  </div>

  <div class="commcol">
    <div class="content">
      <div class="comm-head">Case Study</div>
      <div class="comm-image">
        <img src="assets/casestudy-025f96c34acdf35abe7c4eaccd6a9a1f5c7dd3147dcf022e38edd8bf9556c394.png" alt="Case Study" class="pr-img">
      </div>
    </div>
  </div>

  <div class="commcol">
    <div class="content">
      <div class="comm-head">Survey</div>
      <div class="comm-image">
        <img src="/assets/survey-fe6c937f79bb8f94ca6cdb9766a7f55d0e0aaa3e53107c35817d55c19e362ce9.jpg" alt="Survey" class="pr-img">
      </div>
    </div>
  </div>

  <div class="commcol">
    <div class="content">
      <div class="comm-head">Content Analysis</div>
      <div class="comm-image">
        <img src="assets/contentanalysis-56bee8f581bcbe342da77c9f72b175e53ed8f4bf851999703bcb41bb57974ccc.jpg" alt="Content Analysis" class="pr-img">
      </div>
    </div>
  </div>

  </div>

 <br class="clear" />

  <div class="programs">
    <div class="prog-col">
      <div class="content">
        <img src="/assets/qualtrics-efbdc2ba75d6be3a9dbbc0feef16055ad939bb95316749ee89c34d68c8cc8c57.png" alt="Qualtrics" class="pr-img">
      </div>
    </div>

    <div class="prog-col">
      <div class="content">
        <img src="/assets/spss-0075afc0b1f96c33f7b78e08c238966f838f620a8524b8b513837b659bd0e0e5.png" alt="SPSS" class="pr-img">
      </div>
    </div>

    <div class="prog-col">
      <div class="content">
        <img src="/assets/aws-e43d9c5260ccbab6645651e5918b3912fcc535a753b7179d6209968e2343c5e9.png" alt="AWS" class="pr-img">
      </div>
    </div>

  </div>


  <br class="clear" />

  <div class="disclaimer">
    <font size="1">** All projects were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and its contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>

 <br class="clear" />
</div>



