<br /><div class="textbackground">
  <br />
  <h1> Robyn Wang </h1>
  <h5><center>Web Developer & Communication Specialist</center></h5>

  <center>  
    <br/>
    <p class="bio"> 
      Welcome to my portfolio! I am a Full-Stack Web Developer with a background in Communication, Marketing, and Administrative Support. I graduated from UC Santa Barbara with my bachelor's in communication from UC Santa Barbara and have my master's in communication management from USC.  More recently, I just completed UC Berkeley's Full-Stack Coding Boot Camp. I am effective at combining creativity and problem solving to design full-scale integrated marketing communications plan and develop user-friendly web applications. Previous employers and collegues have recognized my strong ability to build authentic interpersonal relationships, to lead, and to getting things done no matter the complexity. 
      <br /><br />
    <br class="clear" />
  </center>

  <hr/>
  <br>

 <!--  <div class="scroll-container">
  <h3>Skills & Tools</h3>
    <div class="flex-container"> 
      <div class="iscrolling">
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'skills.png', class: 'icon' %></div>
          </div>
        </div>
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'github.png', class: 'icon' %></div>
          </div>
        </div>
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'rubocop.png', class: 'icon' %></div>
          </div>
        </div>
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'trello.png', class: 'icon' %></div>
          </div>
        </div>
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'slack.png', class: 'icon' %></div>
          </div>
        </div>
        <div class="icell">
          <h4 class="cap"> </h4> 
           <div class="icons">
            <div class="full"><%= image_tag 'codeship.png', class: 'icon' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->

  <div class="scroll-container">
    <h3>Web Apps</h3>
    <div class="flex-container"> 
      <div class="scrolling">

        <div class="cell">
          <h5 class="cap"><a href="/overview/#flixter">2-Sided Marketplace</a></h5>
          <img src="/assets/flixter-ee3af42f33ee887f5ea1d3d6b468986e4e23212f25cb285378a426e14cf71498.png" alt="Two-Sided Market Place" class="full" >
          <div class="overlay">
            <div class="text">
              Two-sided, video-streaming marketplace platform that features credit card payment capabilities, user role management, complex user interfaces, and advanced database relationships.
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="cap"><a href="/overview/#note">Note App</a></h5>
          <img src="/assets/NoteApp-c7da56e2202dedfcac4dc33878f9e37f445b81783658622ed6fcb8c613eb1291.png" alt="Note App" class="full" >
          <div class="overlay">
            <div class="text">
              Dynamic note taking app that uses Facebook's ReactJS, JavaScript/ES6, and Axios to let users to create, edit, delete, and tag notes. 
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="cap"><a href="/overview/#spotify">SpotifyApp</a></h5>
          <img src="/assets/homepage-90f7ebda6e7362432da5984a8b2e29d1e2b7059b47cc64c321dc4fe91fd3d4ff.png" alt="SpotifyApp" class="full" >
          <div class="overlay">
            <div class="text">
              Music search platfrom allowing users to search and view an artist's top 10 songs, and log in to view and edit their existing playlists using Spotify's API.
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="cap"><a href="/overview/#yelp">Yelp Clone</a></h5>
          <img src="/assets/nomster-0fed9a9e8f20755084b69c3475ed7006d5c81573bee117f0bb2f7200785e5411.png" alt="Yelp Clone" class="full" >
          <div class="overlay">
            <div class="text">
              A Yelp clone that integrates with the Google Maps API and includes features like user comments, star ratings, image uploading, and user authentication.
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  

  <div class="scroll-container">
    <h3>Communication Projects</h3>
    <div class="flex-container"> 
      <div class="scrolling">
        <div class="cell">
          <h4 class="cap"><a href="/overview/#flixter">Two-Sided Market Place</a></h4>
          <img src="/assets/flixter-ee3af42f33ee887f5ea1d3d6b468986e4e23212f25cb285378a426e14cf71498.png" alt="Two-Sided Market Place" class="full" >
        </div>

        <div class="cell">
          <h4 class="cap"><a href="/overview/#yelp">Yelp Clone</a></h4>
          <img src="/assets/nomster-0fed9a9e8f20755084b69c3475ed7006d5c81573bee117f0bb2f7200785e5411.png" alt="Yelp Clone" class="full" >
        </div>

        <div class="cell">
          <h4 class="cap"><a href="/overview/#spotify">SpotifyApp</a></h4>
          <img src="/assets/homepage-90f7ebda6e7362432da5984a8b2e29d1e2b7059b47cc64c321dc4fe91fd3d4ff.png" alt="SpotifyApp" class="full" >
        </div>

        <div class="cell">
          <h4 class="cap"><a href="/overview/#note">Note App</a></h4>
          <img src="/assets/NoteApp-c7da56e2202dedfcac4dc33878f9e37f445b81783658622ed6fcb8c613eb1291.png" alt="Note App" class="full" >
        </div>
      </div>
    </div>
  </div>

  <br class="clear" />
</div>

 
