<br /><div class="textbackground">
  <br />
  <h1> Web Apps</h1>
    <center><font size="2"> Click App Name to View </font></center>
    
    <div class="box">
      <h4><%= link_to 'Quote Generator', "https://quiz1-robyn-wang.herokuapp.com/", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag 'splurty.png', class: 'full-width'%>
      <p>
        A database-powered quote generator with a mobile-first
        design, using the Ruby on Rails framework, HTML, and CSS.
        Uses Git and GitHub for version control, and launched
        on Heroku.
      </p>
    </div>

    <div class="box" id="yelp">
      <h4><%= link_to 'Yelp Clone', "https://nomster-robyn-wang.herokuapp.com", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag 'nomster.png', class: 'full-width'%>
      <p>
        A Yelp clone that integrates with the Google Maps API
        and includes features like user comments, star ratings,
        image uploading, and user authentication.
      </p>
    </div>
    
    <br class="clear" />

    <div class="box" id="flixter">
      <h4><%= link_to 'Two-Sided Marketplace', "https://flixter-robyn-wang.herokuapp.com", target: :_blank, class: 'nav-link' %></h4>
      <%= image_tag 'flixter.png', class: 'full-width'%>
      <p>
        A two-sided, video-streaming marketplace platform that
        features credit card payment capabilities, user role
        management, complex user interfaces, and advanced
        database relationships.
      </p>
    </div>

    <div class="box">
      <h4><%= link_to 'Test Driven Development', "https://grammable-robyn-wang.herokuapp.com/", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag 'grammable.png', class: 'full-width'%>
      <p>
        An Instagram clone that was built using industry-standard, test-driven
        development following numerous red/green/refactor cycles.
      </p>
    </div>
    
    <br class="clear" />

    <div class="box">
      <h4><%= link_to 'Single Page ToDo Application', "https://todoster-robyn-wang.herokuapp.com", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag 'todoster.png', class: 'full-width'%>
      <p>
        This single-page to-do application features a
        fluid user interface that– by using JavaScript–
        allows users to rapidly add dynamic content.
      </p>
    </div>

    <div class="box" id="spotify">
      <h4><%= link_to 'SpotifyApp', "http://project-robyn-wang.herokuapp.com", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag 'homepage.png', class: 'full-width'%>
      <p>
        A music search platfrom allowing users to search and view an artist's top 10 songs, and log in to view their existing playlists using Spotify's API.
      </p>
    </div>

    <br class="clear" />
     <div class="box" id="note">
        <h4><%= link_to 'Note App', "https://note-app-robyn-wang.herokuapp.com/", target: :_blank, class: 'nav-link' %>
        </h4>
        <%= image_tag 'NoteApp.png', class: 'full-width'%>
        <p>
         Dynamic note taking app that uses Facebook's ReactJS, JavaScript/ES6, and Axios to let users to create, edit, delete, and tag notes. 
        </p>
      </div>

  <br class="clear" />
  <br />
</div>