<br /><div class="textbackground">
  <br />
  <h1>Skills &amp; Tools</h1>
      <p>
        Robyn has developed proficiency and expertise
        in the following programming languages and
        comfort with the following tools.
      </p>

      <div class="icons">
        <%= image_tag 'skills.png', class: 'icon' %>
        <br class="clear" />
        <%= image_tag 'github.png', class: 'icon' %>
        <%= image_tag 'rubocop.png', class: 'icon' %>
        <%= image_tag 'trello.png', class: 'icon' %>
        <%= image_tag 'slack.png', class: 'icon' %>
        <%= image_tag 'codeship.png', class: 'icon' %>
  <br />
  <br class="clear" />
</div>


