<br /><div class="textbackground">
  <br />
  <h1>Skills &amp; Tools</h1>
      <p>
        I have developed proficiency and expertise
        in the following programming languages and
        comfort with the following tools.
      </p>
  <br />
      <div class="icons">
        <%= image_tag 'html.png', class: 'icon' %>
        <%= image_tag 'css.png', class: 'icon' %>
        <%= image_tag 'ruby.png', class: 'icon' %>
        <%= image_tag 'Rails.png', class: 'icon' %>
        <%= image_tag 'js.png', class: 'icon' %>
        <%= image_tag 'algorithms.png', class: 'icon' %>
      </div>




  <div class="sts">
    <div class="programs">
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Git.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Heroku_logo.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Bootstrap-Logo.png', class: 'pr-img' %>
        </div>
      </div>
    </div>
  </div>

  <div class="sts">
    <div class="programs">
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'Slack_.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'trello-logo-blue.png', class: 'pr-img' %>
        </div>
      </div>
      <div class="prog-col">
        <div class="content">
          <%= image_tag 'react .png', class: 'pr-img' %>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br class="clear" />
</div>


