<!DOCTYPE html>
<html>
  <head>
    <title>Robyn Wang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Robyn Wang is a professional software engineer specializing in full-stack development. She has extensive experience with Ruby, Rails, JavaScript, and building web applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="flex-content-container">
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">RW</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/codesample">Code Samples<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Web Apps
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/overview">Overview</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/skillstools">Skills & Tools</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://github.com/robynwang314" target="_blank">GitHub</a>
                
                <!-- <a class="dropdown-item" href="http://project-robyn-wang.herokuapp.com" target="_blank">SpotifyApp</a>
                <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="https://note-app-robyn-wang.herokuapp.com/" target="_blank">NoteApp- ReactJS</a>
                 <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://flixter-robyn-wang.herokuapp.com" target="_blank">Flixter- Udemy Clone</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://nomster-robyn-wang.herokuapp.com" target="_blank">Yelp Clone</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/overview">+ More</a> -->
              </div>
            </li>

             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="/other">Overview</a>
                <div class="dropdown-divider"></div> -->
                <a class="dropdown-item" href="/marcomm">PR & Marketing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/research">Communication Research</a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>          
        </div>
      </nav>

    <%= yield %>

  </div>


    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm">
            <b>About</b>
            <br />
              <%= link_to 'About Me', '/about' %>
              <br />
              <%= link_to 'Resume', '/resume' %>
            </div>
            <div class="col-12 col-sm-5" id="contact">
              <b>Contact</b>
              <br />
               <a href="mailto:TyRobynWang@gmail.com" class="contact-link">TyRobynWang@gmail.com</a>
            </div>
            <div class="col-12 col-sm">
              <b>Social</b>
              <br />
              <%= link_to 'https://www.linkedin.com/in/tyrobynwang', target: :_blank do %>
                <span class="fab fa-linkedin fa-2x social-button"></span>
              <% end %>
              <%= link_to 'https://github.com/robynwang314', target: :_blank do %>
                <span class="fab fa-github-square fa-2x social-button"></span> 
              <% end %>
            </div>
        </div>
      </div>
    </div>
 
  </body>
</html>
